*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(240, 175, 11);
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

a:hover,
.nav-link:hover {
  text-decoration: underline rgb(240, 175, 11);
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

code {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgb(240, 175, 11);
  color: black;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  display: inline-block;
}

strong {
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

/* Header */

header {
  margin: 0 auto;
  width: 100%;
  top: 0;
  background-color: rgb(226, 221, 208);
  box-shadow: -1px 1px 10px rgb(182, 182, 175);
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
  font-size: 12px;
}

.nav-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Sections */

main {
  margin: 3rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 1440px;
}

section {
  width: 30%;
  /* min-height: 9rem; */
  box-shadow: -1px 1px 10px rgb(182, 182, 175);
  border-radius: 8px;
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.heading-section {
  font-size: 14px;
  text-align: center;
  padding: 0.1rem 0.3rem;
  background-color: rgb(237, 234, 229);
}

article {
  padding: 1rem;
}

li {
  padding: 0.3rem;
}

.subarticle {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: -1px -1px 10px -5px rgb(240, 175, 11);
  box-shadow: -1px -1px 10px -5px rgb(240, 175, 11);
  border-radius: 8px;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto-Bold;
  text-align: center;
  padding-bottom: 1rem;
}

/* mobile */

@media screen and (max-width: 767px) {
  main {
    width: 100vw;
    margin: 0;
  }

  section {
    width: 100vw;
  }

  nav {
    display: none;
  }
}

/* tablets */

@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 100vw;
    margin: 0;
  }
  section {
    width: 100vw;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  main {
    width: 1199px;
    margin: 0;
  }

  section {
    width: 30%;
  }
}
