*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  min-width: 360px;
  width: 100%;
}

main {
  min-width: 360px;
  width: 100%;
}

ul {
  list-style: none;
}

nav link a {
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

a:hover,
.nav-link:hover {
  text-decoration: underline rgb(240, 175, 11);
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

code {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgb(240, 129, 11);
  color: white;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  display: inline-block;
}

/* Header */

header {
  margin: 0 auto;
  width: 100%;
  top: 0;
  background-color: rgb(226, 221, 208);
  box-shadow: -1px 1px 10px rgb(182, 182, 175);
  width: 100vw;
  min-width: 375px;
}

nav {
  position: relative;
}

/* hamburger nav - logic */

.hamburger {
  position: absolute;
  top: -3.2rem;
  right: 0.5rem;
  display: none;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.hamburger span {
  display: block;
  margin: 0.3rem;
  width: 3rem;
  height: 0.5rem;
  border-radius: 15px;
  background-color: #d65709;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.hamburger .upbread {
  transform-origin: 0% 0%;
}

.hamburger .underbread {
  transform-origin: 0% 100%;
}

.hamburger input:checked ~ .hamburger {
  left: 2rem;
}

.hamburger input:checked ~ .upbread {
  opacity: 1;
  transform: rotate(45deg) translate(-3.5px, -2px);
}

.hamburger input:checked ~ .ham {
  opacity: 0;
}

.hamburger input:checked ~ .underbread {
  transform: rotate(-45deg) translate(-2px, 0px);
}

.toggle .hamburger input {
  display: block;
  width: 5rem;
  height: 3rem;
  position: absolute;
  right: -0.7rem;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 0.5rem;
  font-size: 12px;
  flex-wrap: wrap;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link {
  color: #d65709;
  text-decoration: none;
  cursor: pointer;
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Sections */

main {
  margin: 3rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 1440px;
}

section {
  width: 40%;
  /* min-height: 9rem; */
  box-shadow: -1px 1px 10px rgb(182, 182, 175);
  border-radius: 8px;
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.heading-section {
  font-size: 14px;
  text-align: center;
  padding: 0.1rem 0.3rem;
  background-color: rgb(237, 234, 229);
}

article {
  padding: 1rem;
}

li {
  padding: 0.3rem;
  line-height: 1rem;
}

.subarticle {
  padding: 1rem;
  -webkit-box-shadow: -1px -1px 19px -5px rgb(240, 91, 11);
  box-shadow: -1px -1px 19px -5px rgb(240, 91, 11);
  border-radius: 8px;
  margin: 1rem auto;
  width: 95%;
}

.small-subarticle {
  margin: 1rem auto;
  padding: 0.7rem;
  -webkit-box-shadow: -1px -1px 10px -5px #f0720b;
  box-shadow: -1px -1px 10px -5px #f0720b;
  border-radius: 8px;
}

.xsm-container {
  padding: 1rem;
  border: 1px solid #f0720b55;
  border-radius: 8px;
  margin: 1rem auto;
}

.mini {
  padding: 0.3rem;
  border: 1px solid #f0d10b55;
  border-radius: 8px;
  margin: 0.3rem auto;
}

h3 {
  font-size: 13px;
  font-weight: 700;
  font-family: Roboto-Bold;
  text-align: center;
  padding-bottom: 1rem;
  color: #d65709;
}

h4 {
  margin-top: 1rem;
  font-size: 12.5px;
  font-weight: 900;
  font-family: Roboto-Bold;
  text-align: center;
  padding-bottom: 1rem;
}

.sub {
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto-Bold;
  text-align: center;
  padding-bottom: 1rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

.intro {
  margin-bottom: 1rem;
}

.intro-big {
  margin: 1rem;
}

/* Scroll up */
/* CSS für den Zurückscroll-Button */
.scroll-to-top-checkbox {
  display: none; /* Das Input-Element ausblenden */
}

.scroll-to-top-label {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #f0720b;
  opacity: 0.3;
  font-weight: 3rem;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.scroll-to-top-label:hover {
  opacity: 1;
}

/* mobile */

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  main {
    width: 100vw;
    margin: 0;
  }

  section {
    width: 100vw;
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    display: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .display-block {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

/* tablets */

@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 100vw;
    margin: 0;
  }
  section {
    width: 100vw;
    padding: 0 2rem;
  }
  .subarticle {
    width: 95%;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 820px) and (max-width: 1199px) and (orientation: landscape) {
  main {
    width: 100%;
    margin: 0;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  .nav-list {
    margin-bottom: 1.5rem;
  }

  section {
    width: 40%;
    padding: 0 1rem 1rem 1rem;
  }

  .subarticle {
    width: 95%;
    margin: 1rem auto;
  }
}
